script_name=WangGuoWeiJi.as

base_url=http://192.168.3.103
social_key=wzR5uIIaxK5egcuY
#social_key=54SO2c8ZwFLINBtn
force_update=1
bundle_script=0

#SCREEN_ORIENTATION_LANDSCAPE: 0
#SCREEN_ORIENTATION_PORTRAIT: 1
#SCREEN_ORIENTATION_USER: 2
#SCREEN_ORIENTATION_BEHIND: 3
orientation=0

package_name=com.papaya.wangguoFull
#package_name=com.papaya.wangguo
app_name=王国危机Full
tab_name=王国危机Full
region=CHINA
